<div class="jumbotron">
  <h1 style="text=align:center">Live Chat</h1>
<div class="col-md-12 col-lg-12" id="chatbox" style="height: 250px; overflow-y: scroll;">

    <% @messages.each do |message| %>
    <%= render 'messages/message', message: message, currentUser: current_user.id, creator: message.user.id %>
    <% end %>
  </div>
    <%= form_for  (@message), remote: true do |f| %>
      <div class="input-group">
        <%= f.text_field  :body, placeholder: "Send a message... ", class: "form-control", label: false, wrapper: false, autocomplete:'off' %>
        <div class="input-group-prepend">
          <%= f.submit "Send", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
</div>
