  <footer class="footer">
  <small>
    The Ruby on Rails App</a>
    by <a href="#">Femi Lawal</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
    </ul>
  </nav>
</footer>