<!DOCTYPE html>
<html>
  <head>
    <title>Rubyo</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= render 'layouts/shim' %>
  </head>

  <body>
       <div class="container">
    <%= render 'layouts/guest' %>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    
    <%= yield %>
    <%= render 'layouts/footer' %>    
        </div>
  </body>
</html>
